{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.xml",
			"options": {
				"useTabs": false,
				"tabWidth": 4,
				"printWidth": 120,
				"bracketSameLine": true,
				"xmlWhitespaceSensitivity": "ignore",
				"xmlSelfClosingSpace": true,
				"embeddedLanguageFormatting": "off"
			}
		}
	]
}
